body{
    text-align: center;
}

.btn{
    height: 12.5rem;
    width: 12.5rem;
    border: solid black 10px;
    border-radius: 20px;
    margin: 30px 20px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.pink{
    background-color: pink;
}

.game{
    background-color: white;
}

.user{
    background-color: black;
}